* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #88DB8F;
    align-items: center;
    height: 50px;
}
#nomeCompleto {
    font-family: 'Open Sans';
    font-size: 25px;
}
#logo {
    width: 40px;
    height: 40px;
    margin-left: 40px;
}
#contato {
    margin-right: 40px;
    border: none;
    border-radius: 8px;
    width: 96px;
    height: 29px;
    text-align: center;
}
#contato:hover {
    background-color: green;
    transition: 2s background;
    cursor: pointer;
}
#telefone {
    margin-right: 7px;
}
#usuario {
    display: flex;
    margin: 40px;
    justify-content: flex-start;
    width: 1300px;
}
#fotoUsuario {
    width: 240px;
    border-radius: 50%;
    margin-right: 100px;
    box-shadow: 2px 2px 2px black;
}
#infoUsuario {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    font-size: 2.3vh;
    cursor: default;
}
#infoUsuario p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    width: 70%;
}
#container {
    display: flex;
    flex-direction: column;
    background-color: FFFFFF;
    align-items: center;
    justify-content: space-around;
}

/*Inicio BoxProjetos*/
.containerPai {
    background-color: #88db8fd7;
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
    margin: 5px auto;
    max-width: 1300px;
    width: 100%;
    padding: 10px;
}
.content {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.projetos {
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: default;
}
#caixaOne,
#caixaTwo,
#caixaThree {
    width: 230px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
#caixaOne .text,
#caixaTwo .text,
#caixaThree .text {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    top: 99%;
    font-size: 1.7vh;
    transition: .4s ease-in-out;
    padding: 2, 20px;
    font-weight: bold;
}

#caixaOne .text,
#caixaTwo .text,
#caixaThree .text {
    top: 97.5%;
}

#caixaOne:hover .text,
#caixaTwo:hover .text,
#caixaThree:hover .text {
    transform: translateY(-100%);
    cursor: default;
}

#caixaOne .text p,
#caixaTwo .text p,
#caixaThree .text p {
    color: black;
    width: 100%;
}

#caixaOne .text::after,
#caixaThree .text::after,
#caixaTwo .text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

#caixaOne::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 252, 252, 0.537);
    opacity: 0;
    transition: opacity 0.3s ease;

}

#caixaTwo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 252, 252, 0.537);
    opacity: 0;
    transition: opacity 0.3s ease;
}

#caixaThree::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 252, 252, 0.537);
    opacity: 0;
    transition: opacity 0.3s ease;
}

#caixaOne {
    background-image: url(https://img.freepik.com/fotos-gratis/villa-com-piscina-de-luxo-espetacular-design-contemporaneo-arte-digital-imoveis-casa-casa-e-propriedade-ge_1258-150749.jpg?w=1380&t=st=1686272758~exp=1686273358~hmac=9b7d76061318576293888596c66434be010dc811c8da966125ae8154c3d2f04d);
    background-position: center, center;
    background-size: cover;
}

#caixaTwo {
    background-image: url(https://img.freepik.com/fotos-gratis/casa-isolada-no-campo_1303-23773.jpg?w=1380&t=st=1686272925~exp=1686273525~hmac=bcd54109211630ff201c94e2dbf66b244d41c943040e97e1c569ced406877979);
    background-position: center, center;
    background-size: cover;
}

#caixaThree {
    background-image: url(https://img.freepik.com/fotos-gratis/guindastes-em-um-canteiro-de-obras_53876-145039.jpg?w=1380&t=st=1686266910~exp=1686267510~hmac=d14a530bd6c36d7cab0d4a69118b2a62082cc72de10d9c01b769bc31a7f9144f);
    background-position: center, center;
    background-size: cover;
}

#caixaThree:hover:before,
#caixaTwo:hover:before,
#caixaOne:hover:before {
    opacity: 1;
}

#caixaOne:hover,
#caixaTwo:hover,
#caixaThree:hover {
    opacity: 20% background;
    background-color: rgba(255, 0, 0, 0.5);
}
h2 {
    color: white;
}
h3 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    cursor: default;
    position: relative;
}
h3:hover {
    color: #88DB8F;
}
.btn {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 7px 15px;
    border-radius: 50px;
    background-color: #FFFFFF;
    border: none;
    color: black;
    transition: all 0.5s;
    margin-right: 40px;
    width: 96px;
    height: 29px;
    cursor: pointer;
}
.btn:hover {
    background-color: #acffb3;
}
/*Fim BoxProjetos*/
/*Modal*/
#conteiner-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    opacity: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#conteiner-modal.mostrar {
    background-color: #6db072;
    z-index: 2;
    opacity: 1;
    width: 510px;
    height: 505px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
h5 {
    background-color: #FFFFFF;
    font-size: 3.3vh;
    margin: 35px auto;
    border-radius: 8px;
    padding: 7px 15px;
    position: relative;
}
#conteiner-modal #modal {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#date {
    width: 50%;
    position: relative;
    right: 24.9%;
}
.btn2 {
    position: relative;
    left: 38%;
    padding: 7px 15px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: none;
    color: black;
    transition: all 0.5s;
    width: 96px;
    height: 29px;
    cursor: pointer;
}
.btn2:hover {
    background-color: green;
    font-size: 18px;
}
/* inicio Formulario do modal */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form input {
    margin: 15px;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: none;
}

form p {
    font-size: 2.2vh;
    font-weight: bold;
    background-color: #FFFFFF;
    margin: 0px auto;
    border-radius: 8px;
    padding: 7px 15px;
    position: relative;
}
/* Fim Formulario do modal */

footer {
    background: #333;
    padding: 5px;
    color: #fff;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}
footer img{
    width: 30px;
    margin: 2px
}

/*Responsividade*/

@media screen and (max-width: 1200px) {
    header,
    nav,
    #cabecalho{
        width: auto;
    }
    #logo{
        width: 55px
    }
    #nomeCompleto{
        font-size: 2.8vh;
    }
    #modal-lan{
        width: 130px;
        font-size: 1.5vh;
        align-items: center;
    }
    #usuario{
        width: auto;
        flex-direction: column;
    }
    #fotoUsuario{
        width: auto;
        margin: 0 auto;
    }
    #infoUsuario{
        font-size: 3vh;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    #caixaOne,
    #caixaTwo,
    #caixaThree {
        margin: 5px;
        width: 100%;
    }
    .projetos{
        font-size: 2.5vh;
    }
    h3{
        font-size: 1.8vh;
    }
    .text p{
        font-size: 1.9vh;
    }
    form input{
        margin: 10px;
        padding: 15px;
        height: 50px;
        font-size: 1.4vh;
    }
    form p{
        width: 100%;
        font-size: 1.6vh;
    }
    h5{
        font-size: 2.5vh;
        border-radius: 15px;
        text-align: center;
    }
    footer {
        position: relative;
        bottom: 0;
        font-size: 2vh;
    }
    .btn2{
        width: 100px;
        font-size: 1.14vh;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    header,
    nav,
    #cabecalho{
        width: auto;
    }
    #logo{
        width: 45px;
    }
    #nomeCompleto{
        font-size: 2.3vh;
    }
    #modal-lan{
        width: 130px;
        font-size: 1.5vh;
        align-items: center;
    }
    #usuario{
        width: auto;
        flex-direction: column;
    }
    #fotoUsuario{
        width: auto;
        margin: 0 auto;
    }
    #infoUsuario{
        font-size: 2.5vh;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    #caixaOne,
    #caixaTwo,
    #caixaThree {
        margin: 5px;
        width: 50%;
    }
    .text p{
        font-size: 1.35vh;
    }
    form input{
        margin: 10px;
        padding: 15px;
        height: 50px;
        font-size: 1.4vh;
    }
    form p{
        width: 100%;
        font-size: 1.6vh;
    }
    h5{
        font-size: 2.5vh;
        border-radius: 15px;
        text-align: center;
    }
    h3{
        font-size: 1.5vh;
    }
    footer {
        position: relative;
        bottom: 0;
        font-size: 2vh;
    }
    .btn2{
        width: 100px;
        font-size: 1.14vh;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 780px) {

    header,
    nav,
    #cabecalho {
        width: auto;
        align-items: center;
    }
    #nomeCompleto {
        font-size: 30px;
    }
    #usuario {
        width: auto;
        flex-direction: column;
        align-items: center;
    }
    #infoUsuario{
        width: auto;
    }
    #fotoUsuario {
        width: 50%;
        margin: 0 auto;
    }

    .content {
        align-items: center;
        width: auto;
    }
    #caixaOne,
    #caixaTwo,
    #caixaThree {
        margin: 5px;
        width: 100%;

    }
    .text p{
        font-size: 100%;
    }
    

    footer {
        position: relative;
        bottom: 0;
        font-size: 2.5vh;
    }
}

@media screen and (max-width: 580px) {

    header,
    nav,
    #cabecalho {
        width: auto;
    }

    #nomeCompleto {
        width: auto;
        font-size: 18px;
    }

    #usuario {
        width: auto;
        flex-direction: column;
        align-items: center;
    }


    .content {
        flex-direction: column;
    }

    #caixaOne,
    #caixaTwo,
    #caixaThree {
        margin: 5px;
        width: 100%;
    }
    h3{
        font-size: 2.2vh;
    }
    .text p{
        font-size: 100%;
    }


    footer {
        position: relative;
        bottom: 0;
    }
    
}